@font-face {
  font-family: "Source-Sans-Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
}
a{
  display: block;
  text-decoration: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  background-color: #D4CFCF;
  font-family: "Source-Sans-Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}